body {
  background: rgb(17, 82, 105);
  color: white;
}
.rogin_form {
  margin: auto;
}
.container {
  width: 400px;
  margin: auto;
}

label {
  display: inline-block;
  width: 80px;
}

.women_form,
.men_form,
.sex_form,
.password_form,
.email_form,
.user_name_form,
.password_form,
.email_form {
  display: flex;
}

input {
  /* width: 200px; */
  width: 300px;
  height: 40px;
  border-radius: 5px;
}
input[type="radio"] {
  width: auto;
  
}
input, label {
  vertical-align: middle;
}

/* dt {
  background: gray;
} */

.btn {
  display: inline-block;
  border-style: none;
  /* width: 200px; */
  text-align: center;
  cursor: pointer;
  /* text-align: center; */
  margin: 10px auto;
  height: 35px;
  width: 300px;
  font-size: 20px;
  border-radius: 20px;
}

img {
  width: 350px;
}
.none {
  display: none;
  pointer-events: none;
}
span {
  color: aquamarine;
}



