body {
  background: #5fb784;
  color: white;
}
.block {
  border: 1px solid black;
  /* background: skyblue; */
  display: flex;

}

.my_thumbnail {
  /* background: pink; */
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.my_abeet {
  /* background: gray; */
  width: 400px;
}

/* .my_name {
  background: skyblue;
} */

/* .my_text {
  background: wheat;
} */


